
<!-- <div id="logo">
  <img src="burger.JPG" class="image-fluid">
  </div>
 -->

  <div class="card">
  	<img src="burger.JPG" >
  </div>

<div class="card-group">
    
    <div class="card">
       
        <div class="card-body">
           <img src="demo-burger.jpeg" %> 
           <div class="card-header">The Big Knipper</div>
           <div class="btn btn-primary">Order Now!</div>
        </div>
    </div>
   <div class="card">
       
        <div class="card-body">
            <img src="demo-burger.jpeg" %> 
           <div class="card-header">The Tim</div>
           <div class="btn btn-primary">Order Now!</div>
        </div>
    </div>

    <div class="card">
       
        <div class="card-body">
            <img src="demo-burger.jpeg" %> 
            <div class="card-header">The Denis</div>
           <div class="btn btn-primary">Order Now!</div>
        </div>
    </div>
</div>