
    
<div class="center-jumbotron">
 <div id="logo">
   <img src="images/burger.JPG" class: "img-fluid">  
  </div>
  </div>


<div class="card-group">
    
    <div class="card">
       
        <div class="card-body">
           <img src="images/demo-burger.jpeg" class: "img-fluid">
           <div class="card-header">The Big Knipper</div>
           <div class="btn btn-primary">Order Now!</div>
        </div>
    </div>
   <div class="card">
       
        <div class="card-body">
           <img src="images/demo-burger.jpeg" class: "img-fluid">
           <div class="card-header">The Tim</div>
           <div class="btn btn-primary">Order Now!</div>
        </div>
    </div>

    <div class="card">
       
        <div class="card-body">
           <img src="images/demo-burger.jpeg" class: "img-fluid">
            <div class="card-header">The Denis</div>
           <div class="btn btn-primary">Order Now!</div>
        </div>
    </div>
</div>